.input-container {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 50px;

    .input {
        align-self: center;
        border-radius: 30px;
        flex-basis: 250px;
        /* padding: 5px; */
    }
}